# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"

# The Apache vhost will use this, and it will set a wildcard subdomain, so
# things like dev.example.co.uk will also work
sitename = "example.co.uk"
# The directory relative to this file where you application lives
project_dir = "www"
# The directory for Apache to serve index.php from
www_dir = "public_html"

settings = {
    :box => "hashicorp/precise64",
    :ip => "192.168.33.10",
}

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
    # Box name
    config.vm.box = settings[:box]

    # Hostname
    config.vm.host_name = sitename

    # Provider box url
    config.vm.box = "#{settings[:box]}"

    # Port forwarding
    config.vm.network :forwarded_port, guest: 80, host: 8080

    # Host-only access private network
    config.vm.network :private_network, ip: settings[:ip]

    # Shared folders
    config.vm.synced_folder "#{project_dir}", "/var/www/#{sitename}",
        group: "admin", user: "www-data"

    # Puppet config
    config.vm.provision :puppet do |puppet|
        puppet.manifests_path = "puppet/manifests"
        puppet.manifest_file  = "init.pp"
        puppet.module_path = "puppet/modules"
        puppet.facter = {
            sitename: sitename,
            project_dir: project_dir,
            www_dir: www_dir,
        }
    end

end
